body{
font-family: arial;
font-size: inherit;
font-style: italic;
font-family: serif;
}
h1{
	color: darkred;
	text-align: center;
	border: 5px black;
	background-color: beige;
}
h2{
	color: blue;
}
#Instagram:hover {
	background-color: lightpink;
	border: black 3px solid;
}
#Facebook:hover {
 background-color: lightblue;
 border: black 3px solid;
}
#Youtube:hover {
 background-color: red;
 border: black 3px solid;
}